.title_subtitle_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.free_fire_title {
  padding-top: 1rem;
  display: flex;
  height: 3rem  ;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}

.subtitle_free_fire{
  width: 100%;
  display: flex;
  font-size: 1rem ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.free_fire_container {
  width: 80%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: center;
  padding: 2rem 0;
}

.free_fire_gif {
  height: 100%;
  opacity: 0.8;
  padding: 0 1rem;
  border-radius: 122px 122px 0 0 ;
}

.advertising {
  height: 100%;
  display: flex;
  justify-content: center ;
  flex-direction: column;
  padding: 0 1rem;
  border-top: 1px dashed  rgb(38, 245, 159);
  border-bottom: 1px dashed  rgb(38, 245, 159);
}

.icon_diamond {
  color:  rgb(38, 245, 159);
  font-size: 3rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.diamond_description {
  margin: 1rem 0;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom : 1px solid rgb(38, 245, 159);
}

.price_diamond {
  margin-left: 5px;
  color: rgb(38, 245, 159);
  font: 14px arial,Microsoft JhengHei,微軟正黑體,sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asterisk {
  color: rgb(255, 255, 255);
  margin-left: 2px;
}

@media screen and (max-width: 600px) {
  .advertising {
    border-top: none;
  }
}