body {
  background-color: black;
}
/* @font-face {
  font-family: ultraRegular;
  src: url(./Ultra-Regular.ttf);
}
@font-face {
  font-family: permanenteMarker;
  src: url(./PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: RubikVinyl-Regular;
  src: url(./RubikVinyl-Regular.ttf);
}

@font-face {
  font-family: Oi-Regular;
  src: url(./Oi-Regular.ttf);
}

@font-face {
  font-family:Fruktur-Italic ;
  src: url(./Fruktur-Italic.ttf);
} */

@font-face {
  font-family:RubikMaze-Regular ;
  src: url(./RubikMaze-Regular.woff2) format("woff2") ;
  unicode-range: U+0000-00ff;
}



/* @font-face {
  font-family:FrederickatheGreat-Regular ;
  src: url(./FrederickatheGreat-Regular.ttf);
} */

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  color: rgb(255, 255, 255);
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  font-family: FrederickatheGreat-Regular;
  font-size: 20px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: RubikMaze-Regular;
  margin-top: 1rem;
  color:#abf8f8;
  
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

  .faReact{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    font-size: 3rem;
    color: rgb(38, 245, 159);
}

li span:nth-child(2) {
  color: red;
}
li span:nth-child(3) {
  color: rgb(202, 91, 159);
}
li span:nth-child(4) {
  color: rgb(0, 174, 255);
}
li span:nth-child(5) {
  color: rgb(241, 243, 148);
}
li span:nth-child(6) {
  color: rgba(241, 161, 217, 0.979);
}

@media screen and (max-width: 600px) {
  .logo{
    font-size: 3.5rem;
    color: #abf8f8;
    margin-top: 1.5rem;
  }
  .faReact{
    font-size: 2rem;
}
}